<style>
    body {
        background-image: url('/images/spotify-logo-neon-with-space-text-graphics-green-background_494516-186.webp');
        background-repeat: no repeat;
        background-size: cover;
    }
</style>

<h1>Tracks results:</h1>

<div class="tracks">
{{#each tracks}}
    <div class="track">
    <h2>{{this.name}}</h2>
    <audio controls>
        <source src="{{this.preview_url}}" type="audio/mpeg">
        Your browser does not support the audio tag.
    </audio>   
</div>
{{/each}}
</div>